# Ignore all video files
Sample/videos*/
ROI_*/
MatchedScreen*/
firstFrame/
firstFrame_JSON/
__pycache__/
__pycache__

    
temp/
settings.json
pipeline_SC.py
deps
debug*

.venv
.venv/
venv
venv/
env
env/
*debug*
.vscode
leadership_proposal.md
*test*.py
probe_jcc_colors.py
.DS_Store
ai_optometrist_user_journey_uml.puml
Drysh Flow.png
.gitignore
*.log
frame_*.png
rca_*.py
debug*.py
