# Ignore all video files
Sample/videos*/
ROI_*/
MatchedScreens/
firstFrame/
firstFrame_JSON/
__pycache__/
    
temp/
settings.json
pipeline_SC.py
.DS_Store
DS_Store
DS_Store/
.DS_Store/
deps

.venv
.venv/
venv
venv/
env
env/
.vscode
